.bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: var(--color-background-black);
  z-index: 8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 0 3rem;
  border-top: 0.1px solid rgba(245, 245, 244, 0.266);

  @media screen and(max-width:49em) {
    padding: 0 1rem;
    grid-template-columns: 1fr auto 1fr;
  }

  @media screen and(max-width:40em) {
    padding: 0 1rem;
    grid-template-rows: repeat(3, 1fr);
    height: 10rem;
    grid-template-columns: auto;
    align-content: center;

    .trait__menu {
      grid-row: 1/2;
    }
  }

  &__trait {
    display: flex;
    gap: 2rem;
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-text-primary);
  }

  &__trait__text {
    color: var(--color-text-primary);
    font-size: 2.1rem;

    @media screen and (max-width: 43.75em) {
      font-size: 1.6rem;
    }
  }

  ///
  ///
  // CONTINENTS MENU STARTS HERE

  &__continent {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s var(--cubic-secondary);
    z-index: 15;
  }

  &__continents {
    height: 11rem;
    width: 40rem;
    color: var(--color-text-primary);
    font-size: 2.2rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    //IMGs
    &__img {
      height: 100%;
      background-size: cover;
      transition: transform 0.3s linear, opacity 0.2s linear;
      filter: opacity(0.7);
    }

    //HOVER STATE OF IMGs
    &:hover &__img,
    &:active &__img {
      transform: scale(1.2);
      filter: opacity(1);
    }

    //TEXT OVER THE IMG
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__cross {
    position: absolute;
    top: -4rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    background-color: var(--color-background-black);
    border: none;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: crimson;
    }

    svg {
      color: var(--color-text-primary);
    }
  }
}
// IMG SOURCES
.continent__asia__img {
  background-image: linear-gradient(to right, $overlay-gray, $overlay-gray),
    url(../img/asian.jpg);
}

.continent__antarctica__img {
  background-image: linear-gradient(to right, $overlay-gray, $overlay-gray),
    url(../img/antarctica.jpg);
}

.continent__america__img {
  background-image: linear-gradient(to right, $overlay-gray, $overlay-gray),
    url(../img/america/sandstone.jpg);
  background-position: center;
}
.continent__europe__img {
  background-image: linear-gradient(to right, $overlay-gray, $overlay-gray),
    url(../img/europe/switzerland.jpg);
  background-position: center;
}
.continent__oceania__img {
  background-image: linear-gradient(to right, $overlay-gray, $overlay-gray),
    url(../img/oceania/fiji.jpg);
}

///
.trait__menu {
  cursor: pointer;
  padding: 0.3rem 0.7rem;

  &:hover,
  &:active {
    background-color: var(--color-background-btn);
  }
}

/// testing
///
///
///
///
