*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media screen and(max-width:63.62em) {
    font-size: 50%;
  }

  @media screen and(max-width:50em) {
    font-size: 40%;
  }
}

body {
  // font-family: ,sans-serif;
  font-weight: 300;
  height: 100vh;
  background-color: white;
  font-family: "Alegreya Sans SC", sans-serif;
  letter-spacing: 5px;
  background-color: var(--color-background-black);
  overflow: hidden;
}

//
.main {
  position: relative;
  padding: 0 5.3rem;
}

*::selection {
  display: none;
}
