:root {
  --color-text-primary: #dee2e6;
  --color-background-black: #030303;
  --color-background-btn: #343a40;
  --letter-spacing-special: 5px;
  --cubic-special: cubic-bezier(0.43, 0.12, 0.88, 0.18);
  --cubic-secondary: cubic-bezier(0.03, 0.87, 0.89, 0.06);
  --overlay: rgba(30, 41, 59, 0.3);
}

$overlay-gray: rgba(#1e293b, 0.3);
